html, body {
    height: 100%;
}

/* .middle-div {
} */

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

.left-div {
    margin-left: 80px;
}


body {
    font: normal 0.9em Arial;
    color: #223;
    background: -webkit-gradient(linear, left top, left bottom, from( #ebe0e0), to(#a6a6a6)) fixed;
    height: 100%;
}
html{
    height: 100%;
}
header {
    display: block;
    font-size: 1.2em;
    /* margin-bottom: 100px; */
}

header a,
header span {
    display: inline-block;
    padding: 4px 8px;
    margin-right: 10px;
    border: 2px solid #000;
    background: #DDD;
    color: #000;
    text-decoration: none;
    text-align: center;
    height: 20px;
}

header span {
    background: white;
}
a {
    color: #1155CC;
}

/* class for testing purpose */
.test {
    border: 1px solid green;
}

/* dat css cho cac thumbnail trong slider-inner */
div.fs-icon-2 img {
    height: 145px;
    width: 145px;
    border-radius: 50%;
}

/* test icon moi, khong phu thuoc vao fs-icon */
#ninja-slider div.fs-icon-2 {
    position: absolute;
    width: auto;
    height: auto;
    z-index:1;
    color:white;
    text-align:center;
    font:bold 11px/26px arial;    
    -webkit-transition:opacity 0.8s;
    transition:opacity 0.8s;
}

/* positon for each icon divide by #ID */
#icon-1 {
    top: 20px;
    left: 200px;
    /* margin-left: 200px; */
}

#icon-2 {
    top: 100px;
    right: 150px;
}

#icon-3 {
    top: 200px;
    left:20px;
}

#icon-4 {
    bottom: 50px;
    right:100px;
}

/* #icon-5 {
    
}

#icon-6 {
    
}

#icon-7 {
    
}

#icon-8 {
    
} */

div.fs-icon-2:hover {
    cursor: pointer;
}

/* sidebar css */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: -webkit-gradient(linear, left top, left bottom, from( #ebe0e0), to(#666666)) fixed;
    overflow-x: auto;
    transition: 0.5s;
    padding-top: 60px;
}
.sidebar p{
    font-size: 18px;
    margin-left: 50px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
}

.infoProduct .details {
    width: 90%;
    /* 36% */
    height: 395px;  
    /* max-height: 36%; */
    border: 2px solid rgb(228, 228, 215);
    background:gainsboro;
    border-radius: 12px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 12px;
    margin-bottom: 18px;
    line-height: 365px;
}

.infoProduct .labelNav {
    color: black;
    margin-left: 25px;
}

.infoProduct .details1 {
    width: 90%;
    height: 155px;
    border: 2px solid rgb(228, 228, 215);
    background:gainsboro;
    border-radius: 12px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 18px;
    margin-bottom: 18px;
    display:flex;
    justify-content: space-around;
}

.infoProduct .details2 {
    border: 2px solid rgb(228, 228, 215);
    background:gainsboro;
    border-radius: 12px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 18px;
    margin-bottom: 18px;
    width: 90%;
    height: 252px;
}

.Map {
    margin: 30px;
    display: inline-block;
}

select option {
    margin: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.choosen {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    min-width: 25px;
    max-width: 388px;
    height: 25px;
    padding-right: 8px;
    padding-left: 8px;
    margin-top: 8px;
    margin-right: 8px;
    background: #fff;
    border: 1px solid #dadada;
    border-radius: 2px;
}

#main {
    width: 100%;
    height: 100%;
    /* margin: 20px auto; */
    /* padding: 20px; */
    background: -webkit-gradient(linear, left top, left bottom, from( #ebe0e0), to(#a6a6a6)) fixed;
}



div.description{
    display: inline-block;

}

.description p {
    font-size: 12px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px auto;
    color: #4c4343
}



div.productColor{
    display: block;
}

.contain{
  width: 90%;
  line-height: 365px;
   
}

.testKhoi{
    /* width: 300px;
    margin: 10px auto;*/
    width: 65%;
    float: left;
    padding: 15px;    
    text-align: initial;
    line-height: normal;
    /* margin-top: 60px; */
    
    
   
    
}

.imageProduct{
    /* display: inline-block;
    width: 155px;
    padding-left: 25px; */
    width: 35%;
    float: left;
    padding: 15px;
   
    
}

.contentSale{
    width:55%;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    color: #4c4343;
    display: flex;
    float: left;
    margin-top: 20px;
    
}

 .barCode{
     width: 25%;
     float: left;
     line-height: 155px;
}

/*.barCode img {
    display: inline-block;
} */

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    padding:5px 5px 5px 5px;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(225, 223, 223, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 34%;
    max-height: 430px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    /* top: 15px; */
    /* right: 348px; */
    width : 67%;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 5;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    margin: auto;
    display: block;
}
#btnCancel{
    float: right;
    padding: 5px;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}


/* map-------------------------------------- */
#myImg1 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg1:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal1 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index:3;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(225, 223, 223, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 34%;
    max-height: 430px;
    border: 1px solid beige;
    border-radius: 12px;
    background: #e6eae4;
}

/* Caption of Modal Image */
#caption1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content1,
#caption1 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close1 {
    position: absolute;
    /* top: 15px; */
    /* right: 348px; */
    width : 67%;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 5;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    margin: auto;
    display: block;
}

#btnCancel1{
    float: right;
    padding: 5px;
}

.close1:hover,
.close1:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content1 {
        width: 100%;
    }
}

.button button{
    /* width: 120px; */
    width: 100%;
    height: 40px;
    /* margin: 10px; */
    border-radius: 5%;
    background: -webkit-gradient(linear, left top, left bottom, from( #ebe0e0), to(#a6a6a6)) fixed;
}

.changeLanguage{
    /* width: 100%; */
    width: 120px;
    /* position: fixed; */
    /* left: 80px; */
    /* bottom: 80px; */
}